.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status {
    font-size: 18px;
}

body {
    background-size: cover;
    background-position: center;

}

canvas
{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}


a {
    font-size: 23px;
    color: aliceblue;
    background-color: black;
    border-radius: 30px;
    display: block;
    width: 250px;
    height: 35px;
    margin-top: 650px;
    margin-left: 1155px;
    text-align: center;
    }