.heading {
    font-size: 30px;
    width: 100%;
    margin: 0px;
    color: aliceblue;
}

body {
    background-size: cover;
    background-position: center;
    text-align: center;

}

a {
font-size: 23px;
color: aliceblue;
background-color: black;
border-radius: 30px;
display: block;
width: 250px;
height: 35px;
margin-top: 35px;
margin-left: 1155px;
text-align: center;
}